body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f7;
    color: #333;
    margin: 0;
}

.responsive-title1 {
    font-size: 2vw; /* Taille de police responsive basée sur la largeur de la fenêtre */
    font-family: DamingaBold;
    font-weight:bolder;
    text-align: center;
}
.responsive-title2 {
    font-size: 1.8vw; /* Taille de police responsive basée sur la largeur de la fenêtre */
    font-family: Daminga;
    font-weight:bolder;
    text-align: left;
}

p { /*paragraphe */
    font-family: Century Gothic;
    font-size: 1.6em;
    line-height: 1.6;
}
.container-contenu{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    padding-bottom: 100px;
}
.container-contenu2{
    padding-left: 200px;
    padding-right: 200px;
}

.overlay-text { 
    padding: 10px;
    font-size: 5vw;
}
a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
a:hover {
    text-decoration: underline;
}
.link-btn{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    border: 1px solid;
    border-left: 30px;
    border-right: 30px;
}

svg {
    width: 32px;
    height: 32px;
    fill: white;
}
svg:hover{
    transform: scale(1.1);
}

/* Footer */
footer .reseaux-sociaux i{
    color: rgb(103, 110, 110);
    font-size: 24px;
}

footer .reseaux-sociaux i:hover{
    color: crimson;
}

footer .Nous-joindre i{
    color: rgb(153, 43, 43);
    font-size: 24px;
}
footer a{
    color: #f0f4f7;
}
footer li{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
/*fin footer */


/****************************************************************/
/* GESTION DE MEDIA */
@media (min-width: 320px) and (max-width: 480px) {              
    p { /*paragraphe */
        font-size: 1em;
        font-family: Century Gothic;
        line-height: 1.6;
    }
    .responsive-title1 {
        font-size: 5.5vw; /* Taille de police titre 1 responsive basée sur la largeur de la fenêtre */
        font-weight:bolder;
        text-align: center;
    }
    .responsive-title2 {
        font-size: 4.5vw; /* Taille de police titre 2 responsive basée sur la largeur de la fenêtre */
    }
    .container-contenu2{
        padding-left: 15px;
        padding-right: 15px;
    }
    /* taille ecran compris entre 320px et 480px */           
} 

@media (min-width: 481px) and (max-width <= 767px) {    
    
    /* taille ecran compris entre 481px et 767px */ 
}

@media (min-width: 768px) and (max-width: 1920px) {              
    
/* taille ecran compris entre 767px et 1920px */           
}